audioread==3.0.1
blinker==1.7.0
certifi==2024.2.2
filelock==3.13.1
flask==3.0.2
Flask-Cors==4.0.0
fsspec==2024.2.0
numpy==1.26.4
pip==20.2.3
setuptools==49.2.1
speechbrain==1.0.0
sympy==1.12
tokenizers==0.15.2
sox==1.4.1
torch==2.0.1
torchaudio==2.0.1
torchvision==0.15.2
tqdm==4.66.2
IPython==8.18.1